.subscribe {
    color: white;
    background-color:rgb(177, 8, 8);
    border:none;
    height:40px;
    width: 140px;
    border-radius:10px;
    cursor: pointer;
    margin: 8px;
   /* to smoothly transition the opacity */
   transition: opacity 0.15s;

}


.subscribe:hover{
    opacity: 0.8;
}

.subscribe:active{
    opacity: 0.5;

}

.join{
    color: rgb(21, 110, 145);
    background-color: white;
    border-color: rgb(37, 142, 184);
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 50px;
    margin: 5px;
    transition: background-color 0.15s, color 0.15s;
}


.join:hover{
    background-color: rgb(21, 110, 145);
    color: white;
}

.join:active{
    opacity: 0.7;
}

.twitter{
    color: white;
    background-color: rgb(2, 158, 255);
    /* To get a well rounded border */
    border-radius: 20px;
    height:40px;
    width: 74px;
    border: none;
    /*border: solid rgb(21, 110, 145);*/
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
    transition: box-shadow 0.15s;
    
}

.twitter:hover{
    /*Horizontal position, vertical position, blur and color*/
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}